[SddmGreeterTheme]
Name=pearOS
Description=Default pearOS SDDM Theme
Author=Alexandru balan, forked from VinceLiuice
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://pearos.xyz
Screenshot=Preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=alex@pearos.xyz
Theme-Id=breeze
Theme-API=2.0
